<div class="grid-container">
    <div class="main">
        <div class="history-header">
            <ion-row class="grid-header">
                <ng-container *ngFor="let history of history$ | async">
                    <ion-icon class="history-arrow" name="ios-arrow-forward">&nbsp;&nbsp;</ion-icon>
                    <a (click)="showPrevDirectory(history)">{{ history }} &nbsp;</a>
                </ng-container>
            </ion-row>
        </div>
        <div class="list-header">
            <ion-row class="grid-header">
                <ion-col col-7 class="grid-header-1">
                Name&nbsp;&nbsp;
                <ion-icon [name]="nameSort" (click)="sortToggle('name')"></ion-icon>
                </ion-col>
                <ion-col class="grid-header-2">
                Type&nbsp;&nbsp;
                </ion-col>
                <ion-col class="grid-header-3">
                Size&nbsp;&nbsp;
                </ion-col>
            </ion-row>
        </div>
        <div class="list-container">
            <ion-list>
                <ion-grid class="table-grid">
                    <ng-container *ngIf="objects$">
                        <ng-container *ngFor="let object of objects$ | async">
                            <a>
                                <ion-row class="grid-item" (click)="objectSelected = object" (dblclick)="showDirectory(object.name)"
                                        oncontextmenu="return false" (contextmenu)="presentActionSheet()">
                                    <ion-col col-7>
                                    {{ object.name }}
                                    </ion-col>
                                    <ion-col>
                                    {{ object.type }}
                                    </ion-col>
                                    <ion-col>
                                    </ion-col>
                                </ion-row>
                            </a>
                        </ng-container>
                    </ng-container>
                </ion-grid>
            </ion-list>
        </div>
    </div>

    <div class="sidebar">
        <ion-grid>
            <ion-row>
                <ion-col>
                    <ion-card>
                        <ion-card-header>
                            Description
                        </ion-card-header>

                        <ion-card-content>
                            <ion-grid>
                                <ion-row>
                                    <ion-col col-4>
                                        Name
                                    </ion-col>
                                    <ion-col>
                                        <ng-container *ngIf="objectSelected">
                                            {{ objectSelected.name }}
                                        </ng-container>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                        Location
                                    </ion-col>
                                    <ion-col>
                                        <ng-container *ngIf="objectSelected">
                                            {{ objectSelected.parent }}
                                        </ng-container>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                        Type
                                    </ion-col>
                                    <ion-col>
                                        <ng-container *ngIf="objectSelected">
                                            {{ objectSelected.type }}
                                        </ng-container>
                                    </ion-col>
                                </ion-row>
                                <ion-row>
                                    <ion-col col-4>
                                            Size
                                    </ion-col>
                                    <ion-col>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-card-content>
                    </ion-card>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
</div>
